In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
317,tt1055369,150000000,836297228,Transformers: Revenge of the Fallen,Shia LaBeouf|Megan Fox|Josh Duhamel|Rainn Wils...,Michael Bay,Revenge is coming,Sam Witwicky leaves the Autobots behind for a ...,150,Science Fiction|Action|Adventure,Paramount Pictures|DreamWorks SKG|Amblin Enter...,6/19/2009,6.0,2009
848,tt1464174,32000000,83615414,"Big Mommas: Like Father, Like Son",Portia Doubleday|Martin Lawrence|Brandon T. Ja...,John Whitesell,Momma's got back-up.,FBI agent Malcolm Turner and his 17-year-old s...,107,Crime|Comedy|Action,Twentieth Century Fox Film Corporation|Regency...,2/16/2011,5.4,2011
706,tt0482603,37000000,63800345,Space Chimps,Andy Samberg|Cheryl Hines|Jeff Daniels|Stanley...,Kirk De Micco,"Houston, we have a problem!",Circus monkey Ham III works in a circus where ...,81,Animation|Family,Starz Media|Starz Animation|Odyssey Entertainm...,7/17/2008,5.1,2008
241,tt0834001,35000000,91327197,Underworld: Rise of the Lycans,Bill Nighy|Michael Sheen|Rhona Mitra|Shane Bro...,Patrick Tatopoulos,Every war has a beginning.,"A prequel to the first two Underworld films, t...",92,Fantasy|Action|Adventure|Science Fiction|Thriller,Lakeshore Entertainment|Screen Gems|Sketch Fil...,1/22/2009,6.2,2009
1512,tt0466342,20000000,48548426,Date Movie,Alyson Hannigan|Adam Campbell|Sophie Monk|Jenn...,Aaron Seltzer|Jason Friedberg,An Unprotected Comedy,Spoof of romantic comedies which focuses on a ...,83,Comedy,Regency Enterprises|Epsilon Motion Pictures|Ne...,2/17/2006,3.9,2006

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget'] # make column 'profit'
#the time given in the dataset is in string format.
#So we need to change this in datetime format

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа 
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data.budget.max()] # the movie with the biggest budget

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [9]:
data[data['runtime'] == data.runtime.max()] #the longest movie

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data[data['runtime'] == data.runtime.min()] #the shortest movie

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

In [11]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [12]:
data.runtime.mean()

109.6585494970884

In [13]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [14]:
data.runtime.median()

107.0

In [15]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit'] == data.profit.max()] # most profit movie

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [17]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [18]:
data[data['profit'] == data.profit.min()] # most unprofit movie

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [19]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
len(data[data['profit'] > 0]) # movies with profit

1478

In [21]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
movies_2008 = data[data['release_year'] == 2008] # movies in 2008 year
movies_2008[movies_2008['revenue'] == movies_2008.revenue.max()] # max revenue movie in 2008 year

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [23]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
movies_1214 = data[(data['release_year'] <= 2014) & (data['release_year'] >= 2012) ] # movies in 2012-2014 years
movies_1214[movies_1214['profit'] == movies_1214.profit.min()] #most unprofit movie in 2012-2014 years

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [25]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [26]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data['genres_split'] = data['genres'].apply(lambda s:s.split('|')) # splitting multigenres movies
data_new = data.explode('genres_split') # new DataFrame with splitting genres
data_new['genres_split'].value_counts() # count genres

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres_split, dtype: int64

In [27]:
answers['11'] = 'Drama'

ВАРИАНТ 2

In [28]:
list_genres = []
genre_count = []
for i in range (0, len(data.genres_split)):
    list_genres.append(data.genres_split[i]) # new matrix list with genres in multigenres and one genres movies
for genres in list_genres:
    for genre in genres:
        genre_count.append(genre) # new list with genres
pd.Series(Counter(genre_count)).sort_values(ascending=False) # count and sorting genres

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
profit_movies = data[data['profit'] > 0] # new DataFrame with only profitably movies
profit_movies_genre = profit_movies.explode('genres_split') # explode new DataFrame by genres
profit_movies_genre['genres_split'].value_counts() # count genres in profitably movies

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres_split, dtype: int64

In [30]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [31]:
director_revenue = data.groupby(['director'])['revenue'].sum() # Series with sum revenue by director
director_revenue.sort_values(ascending=False) # sorting directors by sum revenue

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [32]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
data['director_split'] = data['director'].apply(lambda s:s.split('|')) # splitting directors if there are several of them
data_change = data.explode('genres_split') # explode genres 
movies_action = data_change[data_change['genres_split'] == 'Action'] # cut only Action genre
director_action = movies_action.explode('director_split') # explode directors
director_count = director_action.groupby(['director_split'])['genres_split'].count() # count Action movie by directors
director_count.sort_values(ascending=False) # sorting directors by Action movie

director_split
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: genres_split, Length: 364, dtype: int64

In [34]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
data['cast_split'] = data['cast'].apply(lambda s:s.split('|')) # splitting cast
movies_2012 = data[data['release_year'] == 2012] # cut movies only in 2012 year
cast_split = movies_2012.explode('cast_split') # explode directors
artist_revenue = cast_split.groupby(['cast_split'])['revenue'].sum() #sum revenue by artists
artist_revenue.sort_values(ascending = False) # sort revenue by artists

cast_split
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [36]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
highbudget_movies = data[data['budget'] > data.budget.mean()] # new DataFrame with only high budget movies
cast_split_2 = highbudget_movies.explode('cast_split') # explode artists in movies
cast_split_2['cast_split'].value_counts() # count high budget movies by artists

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
                     ..
Kodi Smit-McPhee      1
Ellen DeGeneres       1
Mitchel Musso         1
Kyla Pratt            1
Jemaine Clement       1
Name: cast_split, Length: 1505, dtype: int64

In [38]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
cast_split_3 = data.explode('cast_split') # new DataFrame with explode artists in movies 
genre_split_3 = cast_split_3 .explode('genres_split') # new DataFrame with explode genres in movies 
movies_NC = genre_split_3[genre_split_3['cast_split'] == 'Nicolas Cage'] # movies with Nicolas Cage
movies_NC['genres_split'].value_counts() # count genres in movies with Nicolas Cage

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Romance             1
Horror              1
Name: genres_split, dtype: int64

In [40]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
data['company_split'] = data['production_companies'].apply(lambda s:s.split('|')) # splitting companies
company_split = data.explode('company_split') # explode companies
Paramount_movies = company_split[company_split['company_split'] == 'Paramount Pictures'] # new DataFrame with only Paramount Pictures movies
Paramount_movies[Paramount_movies['profit'] == Paramount_movies.profit.min()] # the most unprofitable movie from Paramount Pictures

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,genres_split,director_split,cast_split,company_split
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,"[Thriller, Drama, History]",[Kathryn Bigelow],"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",Paramount Pictures

In [42]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False) # sorting years by sum revenue

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [44]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
data['company_split'] = data['production_companies'].apply(lambda s:s.split('|')) # splitting companies
company_split_2 = data.explode('company_split') # explode companies
company_split_2['cut_company'] = company_split_2['company_split'].apply(lambda x: x[0:12]) # cut company names for merger different divisions 
warner_movies = company_split_2[company_split_2['cut_company'] == 'Warner Bros.'] # only Warner Bros. movies
warner_movies.groupby(['release_year'])['profit'].sum().sort_values(ascending = False) #sorting profit by years

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

In [46]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
data['date_cut'] = data['release_date'].apply(lambda s: s.split('/')) # splitting date at month, day and year
data['release_month'] = data['date_cut'].apply(lambda ar: ar[0]) # movies with month release
data['release_month'].value_counts() # sorting sum movies by month

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

In [48]:
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
month_movies = data['release_month'].value_counts() # count movies release by month
month_movies['6'] + month_movies['7'] + month_movies['8'] # summer release

450

In [50]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
winter_movies = data[(data['release_month'] == '1')|(data['release_month'] == '2')|(data['release_month'] == '12')] # only winter movies
winter_movies_director = winter_movies.explode('director_split') # explode directors
winter_movies_director['director_split'].value_counts() # count winter movies by directors

Peter Jackson         7
Clint Eastwood        6
Steven Soderbergh     6
Nancy Meyers          4
Adam Shankman         4
                     ..
Bill Condon           1
Baltasar KormÃ¡kur    1
Patrik Forsberg       1
Lana Wachowski        1
Seth Gordon           1
Name: director_split, Length: 358, dtype: int64

In [52]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
company_split_2 = data.explode('company_split') # explode companies
company_split_2['len name movie'] = company_split_2['original_title'].apply(lambda s1: len(s1)) # new column with len movie title
company_split_2.groupby(['company_split'])['len name movie'].mean().sort_values(ascending = False) # sorting mean title len by company

company_split
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: len name movie, Length: 1771, dtype: float64

In [54]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
company_split_3 = data.explode('company_split') # explode companies
company_split_3['len overview'] = company_split_2['overview'].apply(lambda s1: len(s1)) # new column with len overview
company_split_3.groupby(['company_split'])['len overview'].mean().sort_values(ascending = False) # sorting mean len overview by company

company_split
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Projection Pictures                        74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: len overview, Length: 1771, dtype: float64

In [56]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [57]:
data['vote_average'].sort_values(ascending = False).head(19) # 1 percent top movies
top_movies = data[data['vote_average'] > 7.7] #vote overage for top movies is >7,7
top_movies['original_title'] # top movies names

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

In [58]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [59]:
import itertools 
list_combinations=[]
two_combination=[]
for i in range (0, len(data.cast_split)):
    a=list(itertools.combinations(data.cast_split[i],2)) # list duet artiasts combinations
    list_combinations.append(a) # list of lists duet artiasts combinations
for pair in list_combinations:
    for two in pair:
        two_combination.append(two) # list of duets artists
pair_comb = pd.Series(Counter(two_combination)) # new Series with count duets artists      
pair_comb.sort_values(ascending=False) # sorting duets

Daniel Radcliffe  Emma Watson             8
                  Rupert Grint            8
Rupert Grint      Emma Watson             7
Johnny Depp       Helena Bonham Carter    6
Ben Stiller       Owen Wilson             6
                                         ..
Emma Stone        Josh Brolin             1
Ryan Gosling      Nick Nolte              1
                  Josh Brolin             1
Sean Penn         Nick Nolte              1
Chris Pratt       Bryce Dallas Howard     1
Length: 18121, dtype: int64

In [60]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

# Submission

In [61]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [62]:
# и убедиться что ни чего не пропустил)
len(answers)

27